<h1>Feeds</h1>

<% if @feeds.blank? -%>
  No feeds to show!
<% else -%>
<% @feeds.each do |item| -%>
  <p><div class="comment"><%= link_to item.title, {:action => 'show', :id => item.id} %></div></p>
<% end -%>
<% end -%>
<% if admin? %>
<p>| <%= link_to 'Add new Feed', {:action => 'new'} %> |</p>
<% end %>

