<h1>Feeds</h1>

<% if @feeds.blank? -%>
  No books to show!
<% else -%>
<% @feeds.each do |item| -%>
  <p><%= link_to item.title, {:action => 'show', :id => item.id} %></p>
<% end -%>
<% end -%>
<% if admin? %>
<p><%= link_to 'Add new Feed', {:action => 'new'} %></p>
<% end %>

