<h2><%= @feed.title %></h2>
<p><%= @feed.url %></p>

<h3>Feed entries</h3>
<% @feed.feed_entries.each do |c| %>
  <%= link_to c.title, :controller => 'feed_entries', :action => 'show', :id => c.id%><br>
<% end %>

