hr {color:sienna; font-family:Arial,Helvetica,sans-serif;}
h1 {color:#FFFFFF; font-family:Arial,Helvetica,sans-serif;}
h2 {color:#000000; font-family:Arial,Helvetica,sans-serif;}
h3 {color:#000000; font-family:Arial,Helvetica,sans-serif;}
a {text-decoration:none; font-family:Arial,Helvetica,sans-serif;}
p {font-family:Arial,Helvetica,sans-serif;}
li {font-family:Arial,Helvetica,sans-serif;}
i {font-family:Arial,Helvetica,sans-serif; font-size:11;}

a:link {color:#000000;}
a:visited {color:#000000;}  /* visited link */
a:hover {color:#FFFFFF;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

#user_nav {
    float: right;
    font-size: 12px;
}

input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}
div.main
{
    width:450px;
    padding:10px;
    border:1px solid black;
    margin:0px;
    border-style:solid;
    background-color:darkgray;
    text-align: left;
}

input
{
color: #000000;
background: #FFFFFF;
border: 1px solid #000000
}

textarea
{
color: #000000;
background: #FFFFFF;
border: 1px solid #000000
}

div.menu
{
    width:430px;
    padding:0px;
    border:1px solid black;
    margin:0px;
    border-style:straight;
    background-color:lightgray;
}

div.normal_text
{
    width:430px;
    padding:5px;
    border:1px solid black;
    margin:0px;
    border-style:straight;
    background-color:lightgray;
}

div.comment
{
    width:400px;
    padding:10px;
    border:1px solid black;
    margin:0px;
    border-style:straight;
    background-color:gray;
    }

